/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./components/SellixEmbed.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
body {
    margin: 0;
    padding: 0;
    background-color: black; /* Set the body background to black */
}

.sellix-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black modal background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.sellix-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black backdrop */
    z-index: -1;
}

.sellix-iframe-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Keep iframe background transparent */
}

.sellix-iframe-content {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black; /* Set iframe content background to black */
}

.sellix-iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: black; /* Keep iframe background transparent */
}

.sellix-iframe-loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sellix-iframe-loader {
    width: 35px;
}
